<!-- Footer -->
<div class="footer special-color-dark">
    <div class="footer-link">
      <a href="https://www.google.com/maps/place/Bolder+Ink/@40.037523,-105.2623497,777m/data=!3m2!1e3!4b1!4m5!3m4!1s0x876bee645e8acbff:0x80b197686449989b!8m2!3d40.037523!4d-105.260161?hl=en" target="_blank" >
        2735 Iris Ave
        <br/>
        Boulder CO 80301
      </a>
    </div>
    <div class="footer-link">
      <a href="https://www.facebook.com/bolderink303/" target="_blank" >Follow us on Facebook</a>
    </div>
    <div class="footer-link">
      <a href="https://www.instagram.com/bolderink/" target="_blank" >Follow us on Instagram</a>
    </div>
    <div class="footer-link">
      303.444.3780
    </div>
</div>
<!-- End Footer -->
