<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='icon' href='/favicon.png' type='image/x-icon'/ >

  <title>Boulder Ink</title>

  <!-- <link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.7.min.css?ver=4.7.7"> -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css">

  <link href="/app.css" rel="stylesheet" type="text/css">
</head>
