<head xmlns="http://www.w3.org/1999/xhtml">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='icon' href='/favicon.png' type='image/x-icon'/ >

  <title>Boulder Ink</title>

  <!-- <link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.7.7.min.css?ver=4.7.7"> -->
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.4/dist/css/bootstrap.min.css">

  <link href="/app.css" rel="stylesheet" type="text/css">
  <link href="/skeleton.css" rel="stylesheet" type="text/css">

  <!-- Shared assets -->
  <link rel="stylesheet" type="text/css" href="/style.css">

  <!-- Example assets -->
  <link rel="stylesheet" type="text/css" href="/jcarousel.transitions.css">

  <script type="text/javascript" src="/modernizr.js"></script>
  <script type="text/javascript" src="/jquery.js"></script>
  <script type="text/javascript" src="/jquery.jcarousel.min.js"></script>

  <script type="text/javascript" src="/jcarousel.transitions.js"></script>

  <script type="text/javascript" src="https://cdn.shurimages.com/js/libs/jquery.min.js"></script>
  <style type="text/css">
    *{margin:0;padding:0;}
    body{font-family:monospace;padding:0;margin:0;}
    pre{border-radius:6px;padding:0.2em 0.5em;box-sizing:border-box;overflow-x:auto;}
    pre strong{font-weight:bold;color:#00abff;}
    .section_title{padding:3em 0em;text-align:center;color:#FFF;background:#000;margin-bottom:1em;}
    .section_title:first-child{padding:2em 0em;}
    .section_title:last-child{margin-bottom:0;}
    .section_title h3{font-size:2em;}
    .section_title h4{font-size:1.2em;margin-top:0.5em;}
    .section_code{padding: 1em 0em;background:#555;}
    .section_code h4{width:100%;max-width:1200px;margin:0 auto;font-size:1.2em;color:#FFF;}
    .section_code pre{width:100%;max-width:1200px;margin:0 auto;background:#777;color:#CCC;border:1px #555 solid;}
    .info pre{background-color:#999;color:#EEE;}
    .info pre strong{color:#00ffba;}
    .instagram_feed{width:100%;max-width:1200px;margin:0 auto;overflow:hidden;}
    .info{padding-bottom:2em;}
    .info p{font-size: 1.2em;margin-bottom: 0.3em;}
    h4.big{font-size:2em;}
    h1{font-size:2.5em;margin-bottom:1em;}
    a{color:#2955ff}
    .m-t-1{margin-top:1em;}
  </style>
</head>
