
<!DOCTYPE html>
<html lang="en">
<% include ./include/head %>

<body>
  <div class="container">
    <% include ./include/nav %>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron bg-dark">
          <ol>
            <li>
              Remove the bandage in 2-4 hours.
            </li>

            <li>
              Wash well with hot water and mild antibacterial soap such as Dial or Soft Soap and allow to air dry.
            </li>

            <li>
              Aply a small amount of Aquaphor with clean hands. <b>Use sparingly</b>, not allowing the tattoo to have a glossy look.
              You can wipe excess ointment off if need be. Use this method 2-3 times a day for the first three days. Wash thoroughly each time.
            </li>

            <li>
              For the remainder of the healing period, use a small amount of dye/fragrance free hand lotion such as Eucerin or Curel.
            </li>

            <li>
              Do <b>NOT</b> use Petroleum jelly, alcohol, or any home remedies.
            </li>

            <li>
              During the healing period, AVOID exposure to the sun as well as dirt, grease, and steam.
            </li>

            <li>
              do <b>NOT</b> submerge the tattoo or soak it during the healing process. This includes swimming, hot tubs, baths, etc.
            </li>

            <li>
              <b>DO NOT PICK SCABS!!!</b> Allow them to fall off naturally.
              Wear loose, non-abrasive clothing around the area to avoid tearing scabs off during the healing process
            </li>
          </ol>
          <div>
            Two weeks is the normal healing time for tattoos. At the first sign of an adverse reaction (eg. infection, illness or disease), contact Bolder Ink and consult a physician.
            Remember that tattoos are considered <i>permanent</i> and can only be removed by a surgical process or laser procedure, and any effective removal may leave scarring.
          </div>
        </div>

      </div> <!-- /container -->

      <% include ./include/scripts %>
      <% include ./include/footer %>

</body>
</html>
