
<!DOCTYPE html>
<html lang="en">
<% include ./include/head %>

<body>
  <div class="container">
    <% include ./include/nav %>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron bg-dark">
      <h3 class="center">Artists</h3>
      <div class="row">
        <div class="six columns">
          <div id="tattoosbymijo"></div>
        </div>
        <div class="six columns">
          <div id="lancetalon"></div>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <div id="joeldlong"></div>
        </div>
        <div class="six columns">
          <div id="bolder_brian_tattoo"></div>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <div id="bolderink"></div>
        </div>
        <div class="six columns">
          <div id="ploddingtortoise"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->

  <script type="text/javascript" src="/jquery.instagramFeed.min.js"></script>
	<script type="text/javascript">
		(function($){
			$(window).on('load', function(){

        var artists = {
          "Mijo": "tattoosbymijo",
          "Lance Talon": "lancetalon",
          "Joel Long": "joeldlong",
          "Brian": "bolder_brian_tattoo",
          "Aaron": "ploddingtortoise",
          "Peewee": "bolderink"};

        var instagram, artistDiv, artistLink, artistFeed;
        for (var artist in artists) {
            instagram = artists[artist];
            artistDiv = $("#"+instagram);
            artistLink = "<h4><a class='artist' href='https://www.instagram.com/" + instagram + "/' target='_blank'>" + artist + "</a></h4>";
            artistFeed = "<div id='instagram-" + instagram + "' class='instagram_feed'><div class='loader'></div></div>";
            artistDiv.append(artistLink, artistFeed);
            $.instagramFeed({
    					'username': instagram,
    					'container': "#instagram-"+instagram,
    					'display_profile': false,
    					'display_biography': false,
    					'display_gallery': true,
    					'get_raw_json': false,
    					'callback': null,
    					'styling': true,
    					'items': 4,
    					'items_per_row': 2,
    					'margin': 1
    				});
        }

			});
		})(jQuery);
	</script>

  <% include ./include/scripts %>
  <% include ./include/footer %>

</body>
</html>
