
<!DOCTYPE html>
<html lang="en">
<% include ./include/head %>

<body>
  <div class="container">
    <% include ./include/nav %>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron bg-dark">
          <div>
            <h5>Question</h5>
            Answer
          </div>

          <div>
            <h5>Question</h5>
            Answer
          </div>

          <div>
            <h5>Question</h5>
            Answer
          </div>
        </div>

      </div> <!-- /container -->

      <% include ./include/scripts %>
      <% include ./include/footer %>

</body>
</html>
