
<!DOCTYPE html>
<html lang="en">
<% include ./include/head %>

<body>
  <div class="container">
    <% include ./include/nav %>

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron bg-dark">
          <div class="show-mobile">
            Only show on mobile
          </div>
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div class="elfsight-app-62762ea2-1b96-4a59-b8c8-a52820972bc4"></div>
        </div>

      </div> <!-- /container -->

      <% include ./include/scripts %>
      <% include ./include/footer %>

</body>
</html>
